consul 1.8.3
direnv 2.21.3
gcloud 299.0.0
gradle 6.1
hadolint v1.18.0
helm 3.3.1
istioctl 1.7.0
java openjdk-11.0.2
kubectl 1.16.13
minikube 1.13.0
nodejs 12.18.2
packer 1.6.0
poetry 1.0.9
python 3.8.8
shellcheck 0.7.1
shfmt 3.1.1
skaffold 1.14.0
terraform 0.14.7
terraform-docs v0.9.1
tflint 0.17.0
tfsec 0.21.0
vault 1.4.2
yarn 1.22.4
