div.polaroid {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position:relative;
}

img {width: 100%}

div.img-container {
  text-align: center;
  padding: 10px 20px;
}

.div.polaroid img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.div.polaroid img.top:hover {
  opacity:0;
}

.gif-fade {
  position: relative;
  margin:0 auto 20px auto;
  height: 550px;
}

.gif-fade img {
  position: absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.gif-fade img.top:hover {
  opacity:0;
}

h1 {
  text-align: center;
}

.twemoji {
  display: inline-flex;
  height: 10%;
  width: 10%;
  fill: currentColor;
}

#as-a-human p{
  float: left;
  width: 30%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.grid-text-left {
  grid-column: 1 / 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.grid-text-left p{
  text-align: left;
  font-size: 50%;
}

.grid-text-left ul{
  text-align: left;
  font-size: 50%;
}

.grid-text-left p{
  text-align: left;
  font-size: 50%;
}

.grid-text-right {
  grid-column: 2 / 3;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.grid-text-right p{
  text-align: left;
  font-size: 50%;
}

.grid-text-right ul{
  text-align: left;
  font-size: 50%;
}

.grid-img-left {
  float: left;
  padding-right: 10px;
  margin-right: 10px;

}

.grid-img-left img{
  width: 100%;
  height: 80%;
}

.grid-img-right {
  float: right;
  padding-left: 10px;
  margin-left: 10px;
}

.grid-img-right img{
  width: 100%;
  height: 80%;
}